#Databases configuration
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_PORT=5432
POSTGRES_INITDB_ARGS= --auth=scram-sha-256

APIGATEWAY_POSTGRES_HOST=postgres-apigateway
OTPSERVICE_POSTGRES_HOST=postgres-otpservice
NOTIFICATIONSERVICE_POSTGRES_HOST=postgres-notificationservice
IMAGESERVICE_POSTGRES_HOST=postgres-imageservice
SERVICESSERVICE_POSTGRES_HOST=postgres-servicesservice
COACHSERVICE_POSTGRES_HOST=postgres-coachservice
LIKESERVICE_POSTGRES_HOST=postgres-likeservice
COMMENTSERVICE_POSTGRES_HOST=postgres-commentservice
SHOPSERVICE_POSTGRES_HOST=postgres-shopservice
USERSERVICE_POSTGRES_HOST=postgres-userservice
SCHEDULESERVICE_POSTGRES_HOST=postgres-scheduleservice

#Backend server data
SERVER_IP=localhost
APIGATEWAY_SERVER_PORT=8443
SERVER_PROT=https

#Frontend server data
CLIENT_IP=localhost
CLIENT_PORT=4200
CLIENT_PROT=https

#Frontend SSL files credentials
CERT_FILE=your_cert_file.crt
KEY_FILE=your_key_file.key
CERTS_=/etc/nginx/ssl/${CERT_FILE}
KEYS_=/etc/nginx/ssl/${KEY_FILE}

#Backend SSL keystore credentials
SSL_KEYSTORE_NAME=your_keystore.jks
SSL_KEYSTORE_PWD=your_keystore_password
SSL_KEYSTORE_TYPE=JKS
SSL_KEYSTORE_ALIAS=your_keystore_alias

#microservices settings
OTP_SERVICE_NAME=otp-service
OTP_SERVICE_PORT=8081
NOTIFICATION_SERVICE_NAME=notification-service
NOTIFICATION_SERVICE_PORT=8082
IMAGE_SERVICE_NAME=image-service
IMAGE_SERVICE_PORT=8083
SERVICES_SERVICE_NAME=services-service
SERVICES_SERVICE_PORT=8084
COACH_SERVICE_NAME=coach-service
COACH_SERVICE_PORT=8085
LIKE_SERVICE_NAME=like-service
LIKE_SERVICE_PORT=8086
COMMENT_SERVICE_NAME=comment-service
COMMENT_SERVICE_PORT=8087
SHOP_SERVICE_NAME=shop-service
SHOP_SERVICE_PORT=8088
USER_SERVICE_NAME=user-service
USER_SERVICE_PORT=8089
SCHEDULE_SERVICE_NAME=schedule-service
SCHEDULE_SERVICE_PORT=8090

#Google sensitive data
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

#Email utilities
WELL4YOU_EMAIL=your_email@example.com
WELL4YOU_EMAIL_PASSWORD=your_email_password
WELL4YOU_EMAIL_PORT=465

UPLOAD_DIR=/uploads

ADMIN_PASSWORD=your_admin_password
ADMIN_EMAIL=your_admin_email@example.com