@if (!this.isSigning()) {
    <section id="economic" class="economic">
        <div class="container">
            <div class="left-column">
                <div class="section-subtitle">
                IL WELFARE IN LEONARDO È
                </div>
                <div class="section-title">
                    BENESSERE ECONOMICO
                </div>
                <div class="section-paragraph">
                    Promuoviamo il benessere economico attraverso benefit, incentivi e piani di risparmio per aiutare i dipendenti a gestire meglio le proprie finanze.
                </div>
            </div>
            <div class="right-column">
                <img src="assets/home/economic-img.png" alt="Monitor" class="image">
            </div>
        </div>
    </section>
    <section id="physic" class="physic">
        <div class="container">
            <div class="left-column">
                <div class="section-subtitle">
                IL WELFARE IN LEONARDO È
                </div>
                <div class="section-title">
                    BENESSERE FISICO
                </div>
                <div class="section-paragraph">
                    Incentiviamo uno stile di vita sano con programmi di fitness, accesso a palestre e iniziative per migliorare la salute e il benessere fisico dei dipendenti.
                </div>
            </div>
            <div class="right-column">
                <img src="assets/home/physic-img.png" alt="Monitor" class="image">
            </div>
        </div>
    </section>
    <section id="psicologic" class="psicologic">
        <div class="container">
            <div class="left-column">
                <div class="section-subtitle">
                IL WELFARE IN LEONARDO È
                </div>
                <div class="section-title">
                    BENESSERE PSICOLOGICO
                </div>
                <div class="section-paragraph">
                    Offriamo supporto psicologico e programmi di consulenza per garantire il benessere mentale e aiutare i dipendenti a gestire lo stress e le sfide personali.
                </div>
            </div>
            <div class="right-column">
                <img src="assets/home/psychologic-img.png" alt="Monitor" class="image">
            </div>
        </div>
    </section>
    <section id="family" class="family">
        <div class="container">
            <div class="left-column">
                <div class="section-subtitle">
                    IL WELFARE IN LEONARDO È
                </div>
                <div class="section-title">
                    BENESSERE FAMILIARE
                </div>
                <div class="section-paragraph">
                    Supportiamo il benessere familiare con iniziative come congedi parentali estesi, flessibilità oraria e servizi di assistenza per bilanciare vita lavorativa e familiare.
                </div>
            </div>
            <div class="right-column">
                <img src="assets/home/family-img.png" alt="Monitor" class="image">
            </div>
        </div>
    </section>
    <section id="coach" class="coach">
        <div class="container">
            <div class="left-column">
                <div class="section-subtitle">
                ORIENTAMENTO SUL WELFARE?
                </div>
                <div class="section-title">
                    CHIEDI AL TUO <br> WELFARE COACH
                </div>
                <div class="section-paragraph">
                    Attraverso consulenze personalizzate e programmi di supporto, il welfare coach contribuisce a creare un ambiente di lavoro più sano e produttivo.
                </div>
            </div>
            <div class="right-column">
                <img src="assets/home/coach-img.png" alt="Monitor" class="image">
            </div>
        </div>
    </section>
}
