<div class="container">
    <div class="section">
        <div class="meeting-board-container">
            <div class="logo">
                <img src="assets/home/logo-well4you.png" alt="logoImage">
            </div>
            <h1>Meeting Board</h1>
            <div class="meeting-slots">
                @if (this.isEmpty()) {
                    <h3>No meetings for now . . .</h3>
                } @else {
                    <div class="meeting-slot" *ngFor="let meeting of meetings">
                        <table class="meeting-details">
                            <tr>
                                <td><strong>Day:</strong></td>
                                <td>{{ meeting.day }}</td>

                                <td><strong>Time:</strong></td>
                                <td>{{ meeting.slot.startTime.toString().substring(0, 5) }}</td>
                            </tr>
                            <tr>
                                <td><strong>Duration:</strong></td>
                                <td>{{ meeting.duration }} minutes</td>

                                <td><strong>Notes:</strong></td>
                                <td>{{ meeting.notes }}</td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
