.cards-section {
    display: flex;
    flex-direction: column;
    border: 4px solid #ccc;
    padding: 7.5em;
    padding-top: 0%;
    padding-bottom: 2%;
    // box-sizing: border-box;
  }

  .cards-section h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

  .cards-section h1 a {
      text-decoration: none;
      color: #333;
      transition: color 0.3s ease;
  }

  .cards-section h1 a:hover {
      color: #007BFF; /* Colore di esempio per il link hover */
  }

  .cards-section h1:before,
  .cards-section h1:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background-color: #007BFF; /* Colore di esempio */
      top: 50%;
      transform: translateY(-50%);
  }

  .cards-section h1:before {
      left: 0;
  }

  .cards-section h1:after {
      right: 0;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  .card {
    flex: 1 3 calc(25% - 20px);
    // box-sizing: border-box;
  }
